/* You can add global styles to this file, and also import other style files */
.Loginhtml{
  margin:0 auto;

  padding:0;

  height: 100%;
}

.Loginbody{
  background: url("src/assets/img/bg-masthead.jpg");
  margin: 0px;
  padding:0px;
  text-align: center;
  height: 100%;
}

form{
  text-align: center;
}



.loginpanel{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.5);
  height: 300px;
  text-align: center;
  border-radius: 15px;
}

.EightPer{
  width: 80%;
  margin:25px auto;
}



